@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
}

h1 {
  font-size: 3.5rem;
  color: #fff;
  border-bottom: 5px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  font-size: 2.5rem;
  color: #66a3ff;
}

.text-center {
  text-align: center;
}

.pb-30 {
  padding-bottom: 30px;
}

.square {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square span {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  opacity: 0.5;
}

.square span:nth-child(1) {
  border-radius: 51% 49% 51% 49% / 53% 29% 71% 47%;
  animation: animateSquare 5s linear infinite;
}

.square span:nth-child(2) {
  border-radius: 65% 35% 25% 75% / 36% 29% 71% 64%;
  animation: animateSquare 4s linear infinite;
}

.square span:nth-child(3) {
  border-radius: 36% 64% 25% 75% / 62% 29% 71% 38%;
  animation: animateSquare 12s linear infinite;
}

@keyframes animateSquare {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: #66a3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top .wave {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 1000px 100px;
  transform: rotate(180deg);
}

.top .wave.wave1 {
  z-index: 100;
  opacity: 1;
  bottom: 0px;
  animation: animate 4s linear infinite;
}

.top .wave.wave2 {
  z-index: 99;
  opacity: 0.5;
  bottom: 10px;
  animation: animate2 3s linear infinite;
}
.top .wave.wave3 {
  z-index: 98;
  opacity: 0.2;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
.top .wave.wave4 {
  z-index: 97;
  opacity: 0.7;
  bottom: 30px;
  animation: animate2 2s linear infinite;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background: #66a3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 1000px 100px;
}
.bottom .wave.wave1 {
  z-index: 100;
  opacity: 1;
  bottom: 0px;
  animation: animate 4s linear infinite;
}

.bottom .wave.wave2 {
  z-index: 99;
  opacity: 0.5;
  bottom: 10px;
  animation: animate2 3s linear infinite;
}
.bottom .wave.wave3 {
  z-index: 98;
  opacity: 0.2;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
.bottom .wave.wave4 {
  z-index: 97;
  opacity: 0.7;
  bottom: 30px;
  animation: animate2 2s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  gap: 50px;
}

.icon .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 0 4px #fff;
  opacity: 0.5;
}

.icon .imgBx.active {
  opacity: 1;
  scale: 1.2;
  box-shadow: 0 0 0 4px #fff, 0 0 0 10px #66a3ff, 0 0 0 12px #fff;
  margin: 0 10px;
}

.icon .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentBx {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: scale(0);
  opacity: 0;
}

.contentBx.active {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}

.contentBx .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
}

.contentBx .card .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.contentBx .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contentBx .card .textBx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentBx .card .textBx h3,
.contentBx .card .textBx h4 {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  line-height: 1rem;
  text-transform: uppercase;
}

.contentBx .card .textBx h4 {
  font-size: 0.8rem;
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.3rem;
}

.contentBx .card .social {
  position: relative;
  display: flex;
  gap: 7px;
  margin-top: 10px;
}

.contentBx .card .social li {
  list-style: none;
}

.contentBx .card .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66a3ff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}

.contentBx .card .social li a:hover {
  scale: 1.1;
  background: #fff;
  color: #66a3ff;
}
